<div class="row" ng-controller="ControlsController as controls" ng-model-options="{debounce: 1000}">

  <!-- Users controls -->
  <div class="col-xs-12 col-md-6">
    <input type="text" class="input-lg form-control" placeholder="Search users"
        ng-model="app.users.currentSearchTerm"/>
  </div>

  <!-- News items controls -->
  <div class="col-xs-12 col-md-6">
    <input type="text" class="input-lg form-control" placeholder="Search news items"
        ng-model="app.newsItems.currentSearchTerm"/>
  </div>

</div>
